{% extends "base.html" %}
{% load static %}
{% block content %}
<div
  id="customer-panel-live-root"
  data-partial-url="{{ customer_panel_partial_url }}"
  data-snapshot-url="{% url 'customer_requests_snapshot' %}"
  data-poll-ms="8000"
  data-state-token="{{ customer_snapshot.signature|default:'' }}|{{ customer_snapshot.pending_customer_requests_count|default:0 }}|{{ customer_snapshot.matched_requests_count|default:0 }}|{{ customer_snapshot.pending_customer_appointments_count|default:0 }}|{{ customer_snapshot.confirmed_appointments_count|default:0 }}|{{ customer_snapshot.accepted_offers_count|default:0 }}|{{ customer_snapshot.unread_messages_count|default:0 }}"
>
  {% include "Myapp/partials/customer_panel_content.html" %}
</div>
<script src="{% static 'js/customer-panel-live.js' %}?v=20260320-1" defer></script>
{% endblock %}
