{% extends "base.html" %}
{% load static %}
{% block content %}
<div
  id="provider-panel-live-root"
  data-partial-url="{{ provider_panel_partial_url }}"
  data-snapshot-url="{% url 'provider_panel_snapshot' %}"
  data-poll-ms="8000"
  data-state-token="{{ provider_live_snapshot.signature|default:'' }}|{{ provider_live_snapshot.pending_offers_count|default:0 }}|{{ provider_live_snapshot.latest_pending_offer_id|default:0 }}|{{ provider_live_snapshot.waiting_customer_selection_count|default:0 }}|{{ provider_live_snapshot.pending_appointments_count|default:0 }}|{{ provider_live_snapshot.unread_messages_count|default:0 }}"
>
  {% include "Myapp/partials/provider_panel_content.html" %}
</div>
<script src="{% static 'js/provider-panel-live.js' %}?v=20260317-1" defer></script>
{% endblock %}
